name: Pull Request

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch: { }

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
  UV_VERSION: "0.9.5"

jobs:
  check:
    name: Check Python (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: ${{ matrix.python-version }}

    strategy:
      matrix:
        python-version: [ "3.10", "3.12" ]

    steps:
      - uses: actions/checkout@v6
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Install Guppy
        run: uv sync --frozen --python ${{ env.PYTHON_VERSION }}

      - name: Type check with mypy
        run: uv run mypy guppylang guppylang-internals

      - name: Check formatting with ruff
        run: uv run ruff format --check

      - name: Lint with ruff
        run: uv run ruff check

      - name: Run tests
        run: uv run pytest -n auto

  test-coverage:
    name: Check Python (3.14) with coverage
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.14"

    steps:
      - uses: actions/checkout@v6
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Install Guppy
        run: uv sync --frozen --python ${{ env.PYTHON_VERSION }}

      - name: Run python tests with coverage instrumentation
        run: uv run pytest -n auto --cov=./ --cov-report=xml

      - name: Upload python coverage to codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          name: python
          token: ${{ secrets.CODECOV_TOKEN }}
